/* Header */
.header {
  height: 34vw;
  width: 100%;
  max-width: 100%;
  margin: 30px auto;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Video */
.header-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  z-index: -1;
}

/* Header Content */
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
  z-index: 1;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  background-color: hsl(0, 0%, 100%);
}

.header-contents button:hover {
  background-color: hsl(0, 0%, 90%);
}

/* Responsive Adjustments */
@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header {
    height: 40vw; /* Adjust header height for smaller screens */
  }
  .header-contents {
    max-width: 70%; /* Decrease the maximum width of header content */
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 3vw 5vw; /* Adjust padding for smaller screens */
    font-size: max(2vw, 14px); /* Adjust font size */
  }
}
